<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="author" content="TikalMike" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/elastislide.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-1.9.2.custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.9.2.custom.js"></script>
    <script src="{{ STATIC_URL }}js/modernizr.custom.17475.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/popup_test.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/popup_test.js"></script>

    <title>Mehameme</title>
</head>
<body>
<div id = "mainPanel">
    <div class = "well">
        <h1>
            שלי
        </h1>
        <!-- Elastislide Carousel -->
        <ul id="carousel1" class="elastislide-list">
            <li><img class="image" src="{{ STATIC_URL }}images/ready_memes/1.jpg" alt="image01" /></li>
            <li><img class="image" src="{{ STATIC_URL }}images/ready_memes/2.jpg" alt="image02" /></li>
            <li><img class="image" src="{{ STATIC_URL }}images/ready_memes/3.jpg" alt="image03" /></li>
            <li><img class="image" src="{{ STATIC_URL }}images/ready_memes/4.jpg" alt="image04" /></li>
            <li><img class="image" src="{{ STATIC_URL }}images/ready_memes/5.jpg" alt="image05" /></li>
            <li><img class="image" src="{{ STATIC_URL }}images/ready_memes/6.jpg" alt="image06" /></li>
            <li><img class="image" src="{{ STATIC_URL }}images/ready_memes/7.jpg" alt="image07" /></li>

        </ul>
        <h1>
            הכי פופולארים
        </h1>
        <ul id="carousel2" class="elastislide-list">
            <li><img class="image" src="{{ STATIC_URL }}images/ready_memes/1.jpg" alt="image01" /></li>
            <li><img class="image" src="{{ STATIC_URL }}images/ready_memes/2.jpg" alt="image02" /></li>
            <li><img class="image" src="{{ STATIC_URL }}images/ready_memes/3.jpg" alt="image03" /></li>
            <li><img class="image" src="{{ STATIC_URL }}images/ready_memes/4.jpg" alt="image03" /></li>
            <li><img class="image" src="{{ STATIC_URL }}images/ready_memes/5.jpg" alt="image03" /></li>
            <li><img class="image" src="{{ STATIC_URL }}images/ready_memes/6.jpg" alt="image03" /></li>
            <li><img class="image" src="{{ STATIC_URL }}images/ready_memes/7.jpg" alt="image03" /></li>

        </ul>
        <h1>
            אחרונים
        </h1>
        <ul id="carousel3" class="elastislide-list">
            <li><img class="image" src="{{ STATIC_URL }}images/ready_memes/1.jpg" alt="image01" /></li>
            <li><img class="image" src="{{ STATIC_URL }}images/ready_memes/2.jpg" alt="image02" /></li>
            <li><img class="image" src="{{ STATIC_URL }}images/ready_memes/3.jpg" alt="image03" /></li>
            <li><img class="image" src="{{ STATIC_URL }}images/ready_memes/4.jpg" alt="image03" /></li>
            <li><img class="image" src="{{ STATIC_URL }}images/ready_memes/5.jpg" alt="image03" /></li>
            <li><img class="image" src="{{ STATIC_URL }}images/ready_memes/6.jpg" alt="image03" /></li>
            <li><img class="image" src="{{ STATIC_URL }}images/ready_memes/7.jpg" alt="image03" /></li>
        </ul>
    </div>
</div>
<!-- End Elastislide Carousel -->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquerypp.custom.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.elastislide.js"></script>
<script type="text/javascript">

    car1 = $( '#carousel1' ).elastislide();
    car2 = $( '#carousel2' ).elastislide();
    car3 = $( '#carousel3' ).elastislide();

</script>
<div id="dialog-form" title="ממ חדש">
    <canvas id="meme_canvas"></canvas>
    <div id="buttons_div">
        <input id="top_text"/>
        <input id="bottom_text"/> Top text
        <input type="button" id="generate" value="Generate"/>
    </div>
    <form action="/" method="POST"> {% csrf_token %}
        {{ form }}
    </form>
</div>
<button onclick="addToFirst()"> add to first </button>
</body>
</html>