<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/popup_test.css" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/popup_test.js"></script>
    </head>
    <body>
        {% load i18n %}
        <canvas id="meme_canvas"></canvas>
        <div id="buttons_div">
            <input id="top_text"/> {{ _("Bottom text") }}
            <input id="bottom_text"/> {% trans "Top text" %}
            <input type="button" id="generate" value="Generate"/>
        </div>
    </body>
</html>