#meme_canvas {
    height: 300px;
    width: 300px;
    background-size: 100% auto;
}

#buttons_div {
    display: inline-block;
    vertical-align: top;
    width: 100px;
}

#top_text {
    direction: rtl;
}

#bottom_text {
    direction: rtl;
}

.popuplable{
    direction: rtl;
    width: 100%;
}

.ui-dialog .ui-dialog-title{
    direction: rtl;
}

.formButton {
    margin-top: 10px;
}

#formPost{
    visibility: hidden;
}